body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}
.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#temperatureinput {
  margin-right: 40px;
  height: 30px;
  width: 150px;
}
#temperatureunit {
  margin-right: 40px;
  height: 30px;
  width: 150px;
  cursor: pointer;
}
#result {
  margin-right: 40px;
  height: 30px;
  width: 150px;
  color: rgb(169, 164, 164);
}
.s1 {
  display: flex;
  margin-bottom: 10px;
}
.ld{
  margin-right: 150px;
  color: rgb(169, 164, 164);
}
.li, .lr{
  color: rgb(169, 164, 164);
}
.s2{
  display: flex;
  margin-right: 5px;
  margin-bottom: 10px;
}
#temperatureform {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.submit {
  height: 50px;
  width: 400px;
  border-radius: 15px;
  margin-top: 10px;
  background-color: rgb(42, 170, 244);
  border-width: 0;
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
  cursor: pointer;
}
.submit:hover{
  background-color: rgb(10, 107, 170);
  height: 55px;
  width: 405px;
}